p{
    margin-bottom:0px;
}

.fan_mode_display{
    padding-left : 10px;
}

.active_fan{
    color:white;
    text-align: center;
    font-weight: 600;
}

.deactive_fan{
    color:#ffffff28;
    text-align: center;
}

.fan_card_body > .card-body{
    padding : 8px 8px 8px 8px;
}

.notification_card_body > .card-body{
    padding : 10px 0px 10px 0px;
}

.notification > .card-body{
    padding: 0.8rem 0.8rem;
}

.notification{
    margin-bottom: 5px;
}

body{
    background-color: #141927;
}

.main_card{
    background-color: #1f2940; 
    box-shadow: 0.2rem 0.2rem 0.2rem #00000057;
}

.container{
    max-width: 95%;
}
